@import "../../assets/style/vars";

.introCard {
	$p: &;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13vw 4.2vw 13vw 11.12vw;
	overflow: hidden;

	@media (max-width: $sm) {
		display: block;
		padding: 0 0 64px;
	}

	&__imgWrap {
		position: relative;
		width: 36.08vw;
		flex-shrink: 0;
		@include aspect-ratio(1);
		overflow: hidden;

		@media (max-width: $sm) {
			width: 100%;
			margin-bottom: 20px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}

		&_xs {
			@media (max-width: $xs) {
				img {
					transform: scale(2.5) translateY(-10%);
					object-position: 50% 50%;
				}
			}
		}
	}

	&__content {
		flex-shrink: 0;
		width: 36.65vw;

		@media (max-width: $sm) {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 0 24px;
		}

		@media (max-width: $xs) {
			align-items: flex-start;
			padding: 0 12px;
		}
	}

	&__icon {
		display: block;
		width: 6.92vw;
		height: auto;
		margin-bottom: 1.42vw;
		opacity: 0.4;

		@media (max-width: $sm) {
			width: 60px;
			margin-right: 52px;
			margin-bottom: 0;
		}

		@media (max-width: $xs) {
			width: 48px;
			margin-right: 16px;
		}
	}

	&__desc {
		font-family: "NAMU", sans-serif;
		font-size: 1.57vw;
		line-height: 1.89vw;
		font-weight: 600;
		letter-spacing: 0.005em;
		color: $text;

		@media (max-width: $sm) {
			font-size: 20px;
			line-height: 24px;
		}
	}

	&__decor {
		position: absolute;
		display: block;
		height: auto;

		&_1 {
			right: 4.2vw;
			bottom: 5.3vw;
			width: 7.18vw;

			@media (max-width: $sm) {
				right: 24px;
				bottom: -26px;
				width: 64px;
			}

			@media (max-width: $xs) {
				right: 12px;
			}
		}

		&_2 {
			top: 6.97vw;
			right: 10.59vw;
			width: 8.29vw;
		}
	}
}
